{% extends 'base.html' %}

{% block title %} Your Cart {% endblock title %}

{% block content %}
{% load cart %}
<div class="container">
    <div class="col border rounded pt-4 mt-4 pb-4 mb-4 align-center table-responsive-sm">
        <p class="display-4 pl-4 ml-4">Your Cart</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sno.</th>
                    <th scope="col">Image</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 55px;" src="{{product.image.url}}" class="rounded" alt=""></td>
                    <td>{{product.name}}</td>
                    <td>₹ {{product.price}}</td>
                    <td>
                      <div class="row">
                        <form action="" method="post" class="">
                          {% csrf_token %}
                          <input hidden type="text" name="product" value="{{product.id}}">
                          <input hidden type="text" name="remove" value="True">
                          <input type="submit" value="-" class="btn btn-sm mr-1">
                        </form>
                        {{product|cart_quantity:request.session.cart}}
                        <form action="" method="post" class="">
                          {% csrf_token %}
                          <input type="hidden" name="product" value="{{product.id}}">
                          <input type="submit" value="+" class="btn btn-sm ml-1">
                        </form>
                      </div>
                    </td>
                    <td>₹ {{product|price_total:request.session.cart}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th colspan="">Total:</th>
                    <th>₹ {{products|total_cart_price:request.session.cart}}</th>
                </tr>
            </tfoot>
        </table>
        {% if products %}
        <div class="m-3 p-3">
            <a href="" class="btn btn-outline-success border rounded col-lg-3 float-right" data-toggle="modal" data-target="#exampleModal">Checkout</a>
        </div>
        {% endif %}
    </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="m-2 p-2">
            <form action="/checkout" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Address</label>
                    <input type="text" name="address" class="form-control" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" class="form-control" aria-describedby="helpId">
                </div>

                <input type="submit" class="btn float-right btn-outline-success" value="Check Out">
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}