{% extends "base.html" %}

{% block title %} Store {% endblock title %}

{% block search_bar %}

{% load cart %}

<form class="form-inline my-2 my-lg-0 mr-lg-3">
  <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search Product" aria-label="Search">
  <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
</form>

{% endblock search_bar %}


{% block content %}

<div class="container-fluid mt-5">
  <div class="row">

    <!-- filter products by category-->

    <div class="col-lg-3 mb-5">
      <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action">All Products</a>
        {% for category in categories %}
        <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
        {% endfor %}
      </div>
    </div>

    <!-- all products -->
    <div id="products" class="col-lg-9">
      <div class="row mx-auto">
        {% for product in products %}
        <div class="card mx-auto mb-3" id="{{product.id}}" style="width: 18rem;">
            <img class="card-img-top" src="{{product.image.url}}" height="350px" alt="Product image">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.description}}</p>
              <p class="card-text"><b>₹ {{product.price}}</b></p>
            </div>

            <div class="card-footer p-0">
              {% if product|is_in_cart:request.session.cart %}
              <a class="btn btn-light border btn-block text-primary form-control" href="{% url 'cart' %}">Go To Cart</a>
              {% else %}
              <form action="/#{{product.id}}" method="post" class="btn-block">
                {% csrf_token %}
                <input type="hidden" name="product" value="{{product.id}}">
                <input type="submit" class="btn btn-light border btn-block form-control" value="Add To Cart">
              </form>
              {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
  </div>
</div>

{% endblock content %}